{% extends 'portfolio/layout.html' %}
{% load static %}
{% block title %}Luiza Vidal | ULHT {% endblock %}


{% block main %}

    <!--main-->
    <main class="main">

      <!--blog DONE-->
      <section class="home_blog section" id="home_blog">
          <p class="section_paragraph">*This page is still in progress*</p>
          <div class="home_blog_container container grid">
              <div class="home_blog_data">
                  <h1 class="home_blog_title">Insights of Web Programming</h1><br>
                  <p class="home_blog_description">In this page...you can read and learn a little about web
                      programming technologies,
                      explore
                      articles and news, and explore the website interaction tools :)</p>
              </div>
          </div>
      </section>

      <!--webdev DONE-->
      <section class="webdev section" id="webdev">
          <h2 class="section_title">Web Development</h2>
          <span class="section_subtitle">Back-end and Front-end Technologies</span>

          <!--back-->
          <div class="webdev_container container grid">
              <!--java-->
              <div class="webdev_content">
                  <div>
                      <i class="fa-brands fa-java webdev_icon"></i>
                      <h3 class="webdev_title">Java</h3>
                  </div>

                  <span class="button button_flex button_small button_link webdev_button">
                      Learn more
                      <i class="uil uil-arrow-right button_icon"></i>
                  </span>

                  <div class="webdev_modal">
                      <div class="webdev_modal_content">
                          <h4 class="webdev_modal_title">Java</h4>
                          <i class="uil uil-times webdev_modal_close"></i>

                          <ul class="webdev_modal_services grid">
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>Back-end service</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>1995</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>By James Gosling, Sun Microsystems</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <a class="webdev_modal_service_link" href="https://www.java.com/">Official
                                      Website</a>
                              </li>
                          </ul>
                          <h4 class="webdev_modal_title webdev_modal_description">
                              Description
                          </h4>
                          <p>
                              Java is a high-level, object-oriented programming language
                              that follows the "write once, run anywhere" paradigm. It was
                              originally developed by Sun Microsystems and released in 1995.
                              It is currently maintained by Oracle Corporation.
                          </p>
                      </div>
                  </div>
              </div>

              <!--.net-->
              <div class="webdev_content">
                  <div>
                      <i class="ri-microsoft-line webdev_icon"></i>
                      <h3 class="webdev_title">.NET</h3>
                  </div>

                  <span class="button button_flex button_small button_link webdev_button">
                      Learn more
                      <i class="uil uil-arrow-right button_icon"></i>
                  </span>

                  <div class="webdev_modal">
                      <div class="webdev_modal_content">
                          <h4 class="webdev_modal_title">.NET</h4>
                          <i class="uil uil-times webdev_modal_close"></i>

                          <ul class="webdev_modal_services grid">
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>Both Front and Back-end service</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>2002</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>By Microsoft Corporation</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <a class="webdev_modal_service_link" href="https://dotnet.microsoft.com/">Official
                                      Website</a>
                              </li>
                          </ul>
                          <h4 class="webdev_modal_title webdev_modal_description">
                              Description
                          </h4>
                          <p>
                              .NET is a free and open source framework cross-platform
                              created by Microsoft to build powerful cloud services,
                              desktop, web and mobile modern applications.
                          </p>
                      </div>
                  </div>
              </div>

              <!--android kotlin-->
              <div class="webdev_content">
                  <div>
                      <i class="uil uil-android-alt webdev_icon"></i>
                      <h3 class="webdev_title">Kotlin</h3>
                  </div>

                  <span class="button button_flex button_small button_link webdev_button">
                      Learn more
                      <i class="uil uil-arrow-right button_icon"></i>
                  </span>

                  <div class="webdev_modal">
                      <div class="webdev_modal_content">
                          <h4 class="webdev_modal_title">Kotlin</h4>
                          <i class="uil uil-times webdev_modal_close"></i>

                          <ul class="webdev_modal_services grid">
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>Back-end service</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>2011</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>By JetBrains</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <a class="webdev_modal_service_link" href="https://kotlinlang.org/">Official
                                      Website</a>
                              </li>
                          </ul>
                          <h4 class="webdev_modal_title webdev_modal_description">
                              Description
                          </h4>
                          <p>
                              Kotlin is a modern, concise, and secure programming language
                              that is designed to be used across multiple platforms,
                              including Android, JVM, web browsers, and operating systems.
                          </p>
                      </div>
                  </div>
              </div>

              <!--wordpress (both backend and frontend)-->
              <div class="webdev_content">
                  <div>
                      <i class="uil uil-wordpress-simple webdev_icon"></i>
                      <h3 class="webdev_title">WordPress</h3>
                  </div>

                  <span class="button button_flex button_small button_link webdev_button">
                      Learn more
                      <i class="uil uil-arrow-right button_icon"></i>
                  </span>

                  <div class="webdev_modal">
                      <div class="webdev_modal_content">
                          <h4 class="webdev_modal_title">WordPress</h4>
                          <i class="uil uil-times webdev_modal_close"></i>

                          <ul class="webdev_modal_services grid">
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>Both Front and Back-end service</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>2003</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>By Matt Mullenweg & Mike Little</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>

                                  <a class="webdev_modal_service_link" href="https://wordpress.org/">Official
                                      Website</a>
                              </li>
                          </ul>
                          <h4 class="webdev_modal_title webdev_modal_description">
                              Description
                          </h4>
                          <p>
                              WordPress is a free powerful and versatile tool for building
                              websites, and its popularity is a testament to its ease of
                              use, flexibility, and robust functionality. Is based on PHP
                              and MySQL and offers a wide range of features and
                              functionality, including customizable themes, plugins, and
                              widgets.
                          </p>
                      </div>
                  </div>
              </div>
          </div>

          <!--front-->
          <div class="webdev_container container grid">
              <!--html-->
              <div class="webdev_content">
                  <div>
                      <i class="uil uil-html5-alt webdev_icon"></i>
                      <h3 class="webdev_title">HTML</h3>
                  </div>

                  <span class="button button_flex button_small button_link webdev_button">
                      Learn more
                      <i class="uil uil-arrow-right button_icon"></i>
                  </span>

                  <div class="webdev_modal">
                      <div class="webdev_modal_content">
                          <h4 class="webdev_modal_title">
                              HTML <br />(HyperText Markup Language)
                          </h4>
                          <i class="uil uil-times webdev_modal_close"></i>

                          <ul class="webdev_modal_services grid">
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>Front-end service</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>1993</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>By Tim Berners-Lee</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <a class="webdev_modal_service_link" href="https://html.spec.whatwg.org/">Official
                                      Website</a>
                              </li>
                          </ul>
                          <h4 class="webdev_modal_title webdev_modal_description">
                              Description
                          </h4>
                          <p>
                              HTML is a markup language used to create and structure content
                              on the web. It is the foundation of all web pages and allows
                              developers to create interactive and accessible websites.
                          </p>
                      </div>
                  </div>
              </div>

              <!--css-->
              <div class="webdev_content">
                  <div>
                      <i class="uil uil-css3-simple webdev_icon"></i>
                      <h3 class="webdev_title">CSS</h3>
                  </div>

                  <span class="button button_flex button_small button_link webdev_button">
                      Learn more
                      <i class="uil uil-arrow-right button_icon"></i>
                  </span>

                  <div class="webdev_modal">
                      <div class="webdev_modal_content">
                          <h4 class="webdev_modal_title">
                              CSS <br />(Cascading Style Sheets)
                          </h4>
                          <i class="uil uil-times webdev_modal_close"></i>

                          <ul class="webdev_modal_services grid">
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>Front-end service</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>1996</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>By Håkon Wium Lie e Bert Bos</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <a class="webdev_modal_service_link" href="https://www.w3.org/Style/CSS/">Official
                                      Website</a>
                              </li>
                          </ul>
                          <h4 class="webdev_modal_title webdev_modal_description">
                              Description
                          </h4>
                          <p>
                              CSS is a style language used to define the appearance and
                              formatting of HTML, XML and SVG documents. It allows you to
                              separate content from presentation, which means that the
                              structure and content of the document can be kept separate
                              from its visual presentation. This makes code easier to
                              maintain and update, and improves accessibility for users with
                              special needs.
                          </p>
                      </div>
                  </div>
              </div>

              <!--javascript-->
              <div class="webdev_content">
                  <div>
                      <i class="ri-javascript-line webdev_icon"></i>
                      <h3 class="webdev_title">JavaScript</h3>
                  </div>

                  <span class="button button_flex button_small button_link webdev_button">
                      Learn more
                      <i class="uil uil-arrow-right button_icon"></i>
                  </span>

                  <div class="webdev_modal">
                      <div class="webdev_modal_content">
                          <h4 class="webdev_modal_title">JavaScript <br />(JS)</h4>
                          <i class="uil uil-times webdev_modal_close"></i>

                          <ul class="webdev_modal_services grid">
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>Both Front and Back-end service</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>1995</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>By Brendan Eich</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <a class="webdev_modal_service_link" href="https://www.javascript.com/">Official
                                      Website</a>
                              </li>
                          </ul>
                          <h4 class="webdev_modal_title webdev_modal_description">
                              Description
                          </h4>
                          <p>
                              JavaScript is a popular and powerful programming language that
                              is used to create interactive web applications. One of main
                              features of JavaScript is its ability to add interactivity and
                              dynamism to a web page, allowing developers to create complex
                              applications and rich in resources.
                          </p>
                      </div>
                  </div>
              </div>

              <!--react-->
              <div class="webdev_content">
                  <div>
                      <i class="ri-reactjs-line webdev_icon"></i>
                      <h3 class="webdev_title">React</h3>
                  </div>

                  <span class="button button_flex button_small button_link webdev_button">
                      Learn more
                      <i class="uil uil-arrow-right button_icon"></i>
                  </span>

                  <div class="webdev_modal">
                      <div class="webdev_modal_content">
                          <h4 class="webdev_modal_title">React</h4>
                          <i class="uil uil-times webdev_modal_close"></i>

                          <ul class="webdev_modal_services grid">
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>Front-end service</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>2013</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>
                                  <p>By Jordan Walke, Facebook</p>
                              </li>
                              <li class="webdev_modal_service">
                                  <i class="uil uil-check-circle webdev_modal_icon"></i>

                                  <a class="webdev_modal_service_link" href="https://reactjs.org/">Official
                                      Website</a>
                              </li>
                          </ul>
                          <h4 class="webdev_modal_title webdev_modal_description">
                              Description
                          </h4>
                          <p>
                              React is an open source JavaScript library for building user
                              interfaces. It is a popular and powerful library for building
                              user interfaces in web applications, offering high
                              performance, modularity and ease of maintenance.
                          </p>
                      </div>
                  </div>
              </div>
          </div>

          <!-- news and labs-->

      </section>

      <!--this website UNDONE-->
      <section class="website section" id="website">
          <h2 class="section_title">This website</h2>
          <span class="section_subtitle">Tools I Used</span>
          <p class="section_subtitle">(in progress...)</p>
      </section>

      <!--playground-->
      <section class="playground section" id="playground">
          <h2 class="section_title">Javascript Playground</h2>
          <span class="section_subtitle">This section is reserved to execute the JavaScript criteria requested in the
              project statement.</span>

          <span class="playground_title section_subtitle">Calculator</span>
          <div class="calculator_container">
              <div class="calculator_content">
                  <input type="text" class="calculator_display">

                  <div class="calculator_buttons">
                      <button class="operator" data-value="AC">AC</button>
                      <button class="operator" data-value="DEL">DEL</button>
                      <button class="operator" data-value="%">%</button>
                      <button class="operator" data-value="/">/</button>

                      <button class="number" data-value="7">7</button>
                      <button class="number" data-value="8">8</button>
                      <button class="number" data-value="9">9</button>
                      <button class="operator" data-value="*">*</button>

                      <button class="number" data-value="4">4</button>
                      <button class="number" data-value="5">5</button>
                      <button class="number" data-value="6">6</button>
                      <button class="operator" data-value="-">-</button>

                      <button class="number" data-value="1">1</button>
                      <button class="number" data-value="2">2</button>
                      <button class="number" data-value="3">3</button>
                      <button class="operator" data-value="+">+</button>

                      <button class="number" data-value="0">0</button>
                      <button class="number" data-value="00">00</button>
                      <button class="number" data-value=".">.</button>
                      <button class="operator" data-value="=">=</button>
                  </div>
              </div>
          </div><br><br><br><br>
          <span class="playground_title section_subtitle">Inspiring sentence</span>
          <div class="insp_container container grid">
              <img style="border-radius: 1.25rem;" src="assets/img/tay2.JPG" alt="">
              <div class="insp_phrase_container">
                  <label for="phrase_input">Type a sentence inspired by the image:</label>
                  <input class="phrase_label" type="text" id="phrase_input" placeholder="Your phrase here">
                  <button class="insp_button button button_flex" id="submit_btn">Submit</button>
              </div>
          </div><br><br><br><br>

          <span class="playground_title section_subtitle">Name in 3 spots</span>
          <div class="name_container container grid">
              <h3><label for="name_input">Enter your name:</label></h3>
              <input type="text" id="name_input">
              <p>Welcome <span id="name_span1"></span>!</p>
              <p>Thanks for visiting my website, <span id="name_span2"></span> :D.</p>
              <p>Enjoy, <span id="name_span3"></span>.</p>

          </div>

      </section>

      <!--parallax-->
      <section class="parallax section" id="parallax">
          <h2 class="section_title">Parallax</h2>
          <span class="section_subtitle">What is Parallax?</span>

          <div class="parallax_container">
              <div class="parallax_wrapper">

                  <p class="parallax_info">The parallax effect is a popular technique in web design that creates a
                      sense
                      of depth and movement by manipulating the position and speed of elements on a web page. It works
                      by
                      using multiple layers of images or text that move at different speeds, creating an illusion of
                      depth
                      and perspective.
                  </p><br>
                  <p class="parallax_info">While parallax effects can make websites feel more interactive and
                      engaging,
                      it's important to note that excessive movement within parallax effects can cause harm for those
                      with
                      vestibular disorders. The illusion of movement and depth can cause dizziness or disorientation.
                  </p><br>
                  <p class="parallax_info">Don't let your effects distract users from important information.</p>

              </div>
          </div>
      </section>

      <!--video-->
      <section class="video section" id="video">
          <h2 class="section_title">Video</h2>
          <span class="section_subtitle">This is the embedded video</span>

          <div class="video_container container">
              <iframe width="780" height="530" src="https://www.youtube.com/embed/KjUz8TU99ew"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
          </div>

          <p class="section_subtitle">Video Credits: Payton Clark Smith on Youtube</p>

      </section>

      <section class="svg section" id="svg">
          <h2 class="section_title">SVG</h2>
          <span class="section_subtitle">This is the SVG element</span>

          <div class="svg_conatiner container">
              <span class="section_subtitle">(In progres...)</span>                  
          </div>

      </section>


      <!--contact DONE-->
      <section class="contact section" id="contact">
          <h2 class="section_title">Contact Me</h2>
          <span class="section_subtitle">Wanna talk to me?</span>

          <div class="contact_container container grid">
              <div>
                  <div class="contact_information">
                      <i class="uil uil-phone contact_icon"></i>

                      <div>
                          <div class="contact_title">Mobile:</div>
                          <span class="contact_subtitle">+351 962412557</span>
                      </div>
                  </div>
                  <div class="contact_information">
                      <i class="uil uil-envelope contact_icon"></i>

                      <div>
                          <div class="contact_title">E-mal:</div>
                          <span class="contact_subtitle">lcopolillo@gmail.com</span>
                      </div>
                  </div>
                  <div class="contact_information">
                      <i class="uil uil-map-marker contact_icon"></i>

                      <div>
                          <div class="contact_title">Location:</div>
                          <span class="contact_subtitle">Lisbon, Portugal</span>
                      </div>
                  </div>
              </div>

              <form action="" class="contact_form grid">
                  <div class="contact_inputs grid">
                      <div class="contact_content">
                          <label class="contact_label">Name</label>
                          <input type="text" class="contact_input">
                      </div>
                      <div class="contact_content">
                          <label class="contact_label">E-mail</label>
                          <input type="email" class="contact_input">
                      </div>
                  </div>
                  <div class="contact_content">
                      <label class="contact_label">Subject</label>
                      <input type="text" class="contact_input">
                  </div>
                  <div class="contact_content">
                      <label class="contact_label">Message</label>
                      <textarea class="contact_input" name="" id="" cols="0" rows="7"></textarea>

                  </div>

                  <div>
                      <a href="#" class="button button_flex">
                          Send Message
                          <i class="uil uil-message button_icon"></i>
                      </a>
                  </div>
              </form>
          </div>
      </section>

  </main>
{% endblock main %}