{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--icons-->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
  <script src="https://kit.fontawesome.com/8823c41758.js" crossorigin="anonymous"></script>

  <!--swiper css-->
  <link rel="stylesheet" href="{% static 'portfolio/css/swiper-bundle.min.css' %}" />

  <!--css-->
  <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}">

  <title>Luiza Vidal | ULHT</title>
</head>
<body>
<header class="header" id="header">
    <nav class="nav container">
      <a href="#" class="nav_logo">LV</a>

      <div class="nav_menu" id="nav_menu">
        <ul class="nav_list grid">
          <li class="nav_item">
            <a href="#home" class="nav_link active_link">
              <i class="uil uil-estate nav_icon"></i> Home
            </a>
          </li>
          <li class="nav_item">
            <a href="#about" class="nav_link">
              <i class="uil uil-user nav_icon"></i> About
            </a>
          </li>
          <li class="nav_item">
            <a href="#skills" class="nav_link">
              <i class="uil uil-brain nav_icon"></i> Skills
            </a>
          </li>
          <li class="nav_item">
            <a href="#education" class="nav_link">
              <i class="uil uil-graduation-cap nav_icon"></i> Education
            </a>
          </li>
          <li class="nav_item">
            <a href="#portfolio" class="nav_link">
              <i class="uil uil-scenery nav_icon"></i> Projects
            </a>
          </li>
          <li class="nav_item">
            <a href="#blog" class="nav_link">
              <i class="uil uil-comment-heart nav_icon"></i> Blog
            </a>
          </li>
          <li class="nav_item">
            <a href="#contact" class="nav_link">
              <i class="uil uil-phone nav_icon"></i> Contact
            </a>
          </li>
        </ul>
        <i class="uil uil-times nav_close" id="nav_close"></i>
      </div>

      <div class="nav_buttons">
        <!--dark/light theme-->
        <i class="uil uil-moon change_theme" id="theme_button"></i>
        <div class="nav_toggle" id="nav_toggle">
          <i class="uil uil-ellipsis-h"></i>
        </div>
      </div>
    </nav>
</header>
<main>
    {% block main %}

    {% endblock main %}
</main>
  <!--footer DONE-->
  <footer class="footer">
    <div class="footer_bg">
      <div class="footer_container container grid">
        <div>
          <h1 class="footer_title">Luiza Vidal</h1>
          <span class="footer_subtitle">Computer Engineering</span>
        </div>

        <ul class="footer_links">
          <li>
            <a href="#home" class="footer_link">Home</a>
          </li>
          <li>
            <a href="#portfolio" class="footer_link">Portfolio</a>
          </li>
          <li>
            <a href="#contact" class="footer_link">Contact</a>
          </li>
        </ul>

        <div class="footer_socials">

          <a href="https://www.linkedin.com/in/lcopolillo/" target="_blank" class="footer_social">
            <i class="uil uil-linkedin-alt"></i>
          </a>
          <a href="https://github.com/lcopolillo" target="_blank" class="footer_social">
            <i class="uil uil-github-alt"></i>
          </a>
          <a href="https://wa.me/351962412557" target="_blank" class="footer_social">
            <i class="uil uil-whatsapp"></i>
          </a>

        </div>


      </div>
      <p class="footer_copyright">&copy; Luiza Vidal, ULHT | 2023</p>
    </div>
  </footer>


  <!--date-->
  <script>
    const date = document.getElementById("todays_date");
    const months = [
      'janeiro',
      'fevereiro',
      'março',
      'abril',
      'maio',
      'junho',
      'julho',
      'agosto',
      'setembro',
      'outubro',
      'novembro',
      'dezembro'
      // "January",
      // "February",
      // "March",
      // "April",
      // "May",
      // "June",
      // "July",
      // "August",
      // "September",
      // "October",
      // "November",
      // "December",
    ];
    const todaysDate = new Date();
    const day = todaysDate.getDate();
    const month = months[todaysDate.getMonth()];
    const year = todaysDate.getFullYear();

    date.textContent = `${day} de ${month}, ${year}`;</script>

  <!--scroll top-->
  <a href="#" class="scrollup" id="scroll_up">
    <i class="uil uil-angle-up scrollup_icon"></i>
  </a>

  <!--swiper js-->
  <script src="{% static 'portfolio/js/swiper-bundle.min.js' %}"></script>

  <!--script-->
  <script src="{% static 'portfolio/js/script.js' %}"></script>
</body>
</html>